{% extends 'base.html' %}
{% block title %}Reset your Password{%  endblock %}
{% block content %}
    <h1>Reset your password</h1>
    {%  if validlink %}
        <p>Please enter your new password</p>
        <form method="post" class="form form-login">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-submit">Change Password</button>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used. 
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}