<header class="header">
    <div class="header-title">
        <a href="#" class="title-link">Recipe Book</a>
    </div>
    {% if request.user.is_authenticated %}
        <nav class="nav-bar">
            <ul>
                <li><a 
                        href="#" 
                        {% if section == 'dashboard' %}
                            class="nav-link selected-nav"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >My Dashboard</a></li>
                <li><a 
                        href="#" 
                        {% if section == 'recipes' %}
                            class="nav-link selected-nav"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >Recipes</a></li>
                <li><a 
                        href="#" 
                        {% if section == 'people' %}
                            class="nav-link selected-nav"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >People</a></li>
                <li><a 
                        href="" 
                        {% if section == 'createRecipe' %}
                            class="nav-link selected-nav"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                    >Create Recipe</a></li>
                <li><a 
                        href="" 
                        {% if section == 'privateRecipes'  %}
                        class="nav-link selected-nav"
                        {% else %}
                            class="nav-link"
                        {% endif %}
                >Private Recipes</a></li>
            </ul>
        </nav>
    {% endif %}
    <div class="header-account">
        {% if request.user.is_authenticated %}
            <div class="account-container">
                <h3>
                    Welcome {{ request.user.first_name | default:request.user.username }}, 
                    <a href="#" class="logout-link nav-link">Logout</a>
                </h3>
            </div>
        {% else %}
            <div class="account-container">
                <a href="{% url 'account_login' %}" class="login-link nav-link">Please Login, or </a>
                <a href="#" class="register-link nav-link">Register new Account.</a>
            </div>
        {% endif %}
    </div>
</header>